body{
    font-family: 'Dancing Script', cursive;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #AAAAAA;
    /* width: 1440px; */
}

/* navbar style  */
nav{
    display: flex;
    justify-content: space-between;
    align-items: baseline;   
}
nav a{
    text-decoration: none;
    color: #3A3A3A;
    margin-right: 34px;   
}
.menu-title{
    margin-top: 87px;
    margin-right: 494px;
    margin-left: 120px;
    font-weight: 700;
    font-size: 24px;
}
.anchor-div{
    margin-right: 120px;
    font-size: 16px;
    font-Weight: 600;
}
/* next part start */
.banner {
    margin-left: 120px;
    width: 582px;
    height: 270px;
    margin-top: 142px;
    margin-right: 133px;
}
.banner h1{
    font-size: 52px;
    font-Weight: 700;
}
.banner p{
    font-size: 16px;
    font-Weight: 600;
}
.banner button{
    background-color: #E02C6D;
    color: white;
    border-radius: 41px;
    Padding: 10px,24px,10px,24px;
    width:196px;
    height: 44px;
    font-size: 16px;
}
.top{
    display: flex;  
    /* align-items: baseline; */
}
.top img{
    width: 440px;
    Height: 414px;
    margin-left:450px;
    margin-top: 80px;
}
/* marketing part start  */
.mareket{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 70px 165px;
    padding: 50px;
    border-top: 1px solid rgba(192, 204, 218, 0.2);
    border-bottom: 1px solid rgba(192, 204, 218, 0.2) ;
}
.mareket img{
    margin-left: 65px;
}
/* marketing part close */

/* product part start  */
.products-section{
margin: 5px 196px;
margin-bottom: 100px;
}
.product-title{
    
    color: #3A3A3A;
    text-align: center;
    Font-size: 28px;
    font-weight: 600;
    height: 70px;
    margin-right: 120px;
}
.popular-part{
    display: grid;
    grid-template-columns: repeat(3,3fr);
    gap: 30px;
    /* justify-content: center;
    align-items: center; */
}
.product{
    Width: 329px;
    Height: 476px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    padding: 15px;
}
.product h1{
    Font-size: 28px;
    font-weight: 500;
}
.product p{
    Font-size: 14px;
    font-weight: 700;
    color: #787885;
}
.fa-star{
    color: orange;
}
.fa-star-half-stroke{
    color: orange;
}
.product-button{
   float: right;
   margin-top: 50px;
   margin-right:120px;
   Font-size:16px;
   font-weight: 700;
   color: rgba(224, 44, 109, 0.87);
   text-decoration: none;
}
/* last part  */
.features{
    margin: 100px 165px;
}
.last-part{
    display: grid;
    grid-template-columns: repeat(2,2fr) ;
    justify-content:start;
    gap: 50px;
}
.last-part h1{
    Font-size: 38px;
    font-weight: 700;
    color: #0A0826;
}
.last-part p{
    Font-size: 16px;
    font-weight: 700;
    color: #6C6C6C;
}
.join-button{
    width: 155px;
    height: 44px;
    background-color:  #E02C6D;
    Font-size: 16px;
    color: white;
    border: none;
}
.fa-arrow-right{
    padding-left: 8px;
}
/* last part end */

/* footer part  */

.footer-part{
    height: 239px;
    text-align: center;
    background-color: #0A0826;
    width: 100%;
 }
 .footer-part h1{
    Font-size: 24px;
    font-weight: 700;
    color: white;
 }
 .footer-part p{
    Font-size: 14px;
    font-weight: 700;
    color: white;
}
.fa-instagram-square{
    width: 32px;
    height: 32px;
    color: white;
}
.fa-facebook-square{
    width: 32px;
    height: 32px;
    color: white;
}
.fa-twitter-square{
    width: 32px;
    height: 32px;
    color: white;
}
.fa-youtube-square{
    width: 32px;
    height: 32px;
    color: white;
}